

.background-about {
    height: fit-content;
    padding: 0px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}


.about-us-sec-con { 
    max-width: 1200px;
    max-width: 720px;
    background-color: blue;
}

